
body {
    font-family: sans-serif;
    margin-left:60px;
    margin-right:60px;

}

h1 {
    color: maroon;
    margin-left: 40px;
    text-align: center;
}
div {
    border: 2px solid blue;
    border-radius: 25px;
    font-size: 16px;
    margin-left:60px;
    margin-right:60px;
    margin-bottom:5px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
}
